# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/pubspec.lock

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS related
**/macos/**/*.mode1v3
**/macos/**/*.mode2v3
**/macos/**/*.moved-aside
**/macos/**/*.pbxuser
**/macos/**/*.perspectivev3
**/macos/**/*sync/
**/macos/**/.sconsign.dblite
**/macos/**/.tags*
**/macos/**/.vagrant/
**/macos/**/DerivedData/
**/macos/**/Icon?
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/profile
**/macos/**/xcuserdata
**/macos/.generated/
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.*

# Windows related
**/windows/*_plugin_registrant.cc
**/windows/*_plugin_registrant.h
**/windows/Flutter/ephemeral/
**/windows/Flutter/GeneratedPluginRegistrant.*

# Exceptions to ignore
/Users/genweimi/Desktop/flutter/moji_tool && touch .gitignore*/ios/**/default.mode1v3
/Users/genweimi/Desktop/flutter/moji_tool && touch .gitignore*/ios/**/default.mode2v3
/Users/genweimi/Desktop/flutter/moji_tool && touch .gitignore*/ios/**/default.pbxuser
/Users/genweimi/Desktop/flutter/moji_tool && touch .gitignore*/ios/**/default.perspectivev3
# Exceptions to ignore
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!**/ios/**/default.xcworkspace

*.app
*.ipa
*.jar
*.kml
*.m4v
*.mov
*.mp4
*.mpeg
*.mpg
*.pkg
*.png
*.provisionprofile
*.zip
ios/Podfile.lock
ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=658302c37164c1444a5f1e689d6462a5_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=09654e9487995c7b745ed2c555d4d8a4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=26346a4576cd4534af68523805dc7991-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2b26f01ca5ab9124001fb8f9384eff81-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=30f2c7c25d1d7d44126e20885ad6c50c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=33475ce6df308efa837d4ecefff0f503-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=346b75b42d1716d9bc0a6255bd344196-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3826b028aeee7befb59981b600250079-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=38f9cfd6a97a3a2ce47accacb2f12048-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=39e5e40ce65ed32a485f6b0d030ad875-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3be03a919599cf1710072b6c1434f79f-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4c10935dc6b4d32f9d7ff288d3bd4a01-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5570fb2fed71d689d5885713ce5fb0cb-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5a9b40967239a64a6843e5f6fc167f4d-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5efe4b92abcba9cdb9cd93f5fe340ef3-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=62b02a4378c061bffc5596140c627c1e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6afdc07caede219a2794c377a802c2c4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=701838892d053f51b10e40c7069efe70-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=70b33658491a29ee72f4eab83b679853-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7927f670bb887683a495c44daa6a60e4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=819ce66124a1f251a01573e3af468389-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8b19a2f5e0500150e47c1bf16d56883f-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9b7ee8db58f5e317c096c086f66ad232-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a1e1d886b70f0a38beb1edf2ed70ef8a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a1e48aae894ef5393cbbe55de810cabe-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a7c6b7d7b6e2909b1e27a61a506291d6-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ae00f6ac011ce062585f4cfda4f0e72a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b346907f1bb3edd15873c0700a968d67-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b408b6c341a99930b1c1d6d84673bdda-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b51d364b81436e195f21dd82f9521346-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b57fd5c87c0c4f91e66a313115de77a6-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b7a79642dedb5c569374be6e42077b18-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bdb2ba5c7fc715ede8cca60468e6ad91-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c39a48f7cd705d844644303ab995cc1e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c95169946f6a7aa81fc05c550370e860-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d3d733850f061bf962bf3ab68ea7fbaf-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=dfcb0525c2f9f29840c7831d490f2e48-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e0f1b3db1fce4c0d5fb3cca3c587af3b-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e55adad6e1f299aa9438c808c3291d6e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e765890197378d2a7c3163a23d512efa-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ea1b11078295029bcc22c3db088edb7a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ebd4de86b772e2288b6b9ccc1d23253a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ef1c1edf03379f41adeb0f16d646fff2-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f31cd303aefb5a5c7d72c8be752cd9fc-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fcda62e1ec0626e481d5bc3f408a4dbe-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fe3996720f418b94c5e2a11119f80dfe-json
ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=dad254356f23b4ca27b7060d03625225-json
